@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(https://klar.gg/images/ellipse-main-blue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}